<div class="footer">
	<div class="row">
		<div class="col-md-2 col-lg-2">
		</div>
		<div class="col-xs-12col-lg-7">
			<p class="pull-left muted footerText">Open-source project created by Bubbad. Released under MIT license.</p>
		</div>
	</div>
</div>