  <head>
    <meta charset="utf-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/slider.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>