<!DOCTYPE html>
<html>

  <% include header %>
  <% include navbar %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 sidebar">
          <ul class="nav nav-sidebar">
            <h3>View</h3>
            <li><label for="CameraChkBtn">Pause</span><input id="CameraChkBtn" type="checkbox" /></li>
            <li><label for="CameraChkBtn">Record</span><input id="CameraChkBtn" type="checkbox" /></li>
            <li><label for="CameraChkBtn">Camera</span><input id="CameraChkBtn" type="checkbox" /></li>
            <hr />

            <h3>Options</h3>
            <li><label for="CameraChkBtn">Record</span><input id="CameraChkBtn" type="checkbox" /></li>
            <li><label for="CameraChkBtn">Camera</span><input id="CameraChkBtn" type="checkbox" /></li>
            <li><label for="CameraChkBtn">Camera</span><input id="CameraChkBtn" type="checkbox" /></li>
            <hr />
          </ul>
        </div>

        <div class="col-xs-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 main">
          <p id="msg"></p>
          <img id="img" class="image-view"/>
        </div>

        <div class="col-xs-10 col-md-8 col-lg-2 col-md-offset-2 col-lg-offset-0 col-xs-offset-2">
          <div class="col-lg-1 col-md-4" id="CPUChart"></div>
        </div>
      </div>
    </div>

    

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/index.js" type="text/javascript" ></script>
  </body>
</html>